<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="max-age=43200" />
  <title>Алиф Академия</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#fb6340">
  <meta name="description" content="Сделайте первый шаг к новой профессии.">
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PTN2DMN');</script>
  <!-- End Google Tag Manager -->
  <link href="css/styles.css" rel="stylesheet">
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTN2DMN" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!--[if IE]>
<div class="p-3 bg-light">
  <div class="container">
    <p class="mb-0 browserupgrade">
      You are using an <strong>outdated</strong> browser.
      Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.
    </p>
  </div>
</div>
<![endif]-->
  <header>
    <nav>
      <div class="container-academy container-academy-pos">
        <div class="nav_container">
          <div class="nav_item nav_item_1">
            <div class="logo_academy"> <a href="main.html"> <img src="images/academy.svg" alt="academy logo">
              </a> </div>
            <div class="menu_academy">
              <div class="selected"> <span>Все разделы</span> <img src="images/arrowdown.svg" alt="arrowdown icon">
              </div>
              <ul class="menu_academy_main">
                <li> <a href="main.html">Главная</a> </li>
                <li> <a href="openjs.html" target="_blank" rel="noopener noreferrer">Open JS</a> </li>
                <li> <a href="donate.html" target="_blank" rel="noopener noreferrer">Пожертвовать</a>
                </li>
                <li> <a href="https://job.alif.tj/?specialty=2" target="_blank">Вакансии</a> </li>
              </ul>
            </div>
          </div>
          <div class="nav_item nav_item_2"> <a href="donate.html/" target="_blank"
              rel="noopener noreferrer">Пожертвовать</a> </div>
          <div class="nav_item_3"> <img src="images/burger.svg" alt="burger"> </div>
          <div class="mobile_menu">
            <div class="close_menu">
              <p id="services"> <span>Все сервисы</span> <img src="images/arrowdown.png" alt="arrowdown icon"> </p> <img
                src="images/close.png" alt="close icon" id="close_icon">
            </div>
            <ul class="nested_menu">
              <li> <a href="main.html">Главная</a> </li>
              <li> <a href="openjs.html" target="_blank" rel="noopener noreferrer">Open JS</a> </li>
              <li> <a href="donate.html" target="_blank" rel="noopener noreferrer">Пожертвовать</a>
              </li>
              <li> <a href="https://job.alif.tj/?specialty=2" target="_blank" rel="noopener noreferrer">Вакансии</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="header">
      <div class="container-academy">
        <div class="wrap_banner">
          <h1 class="header_title header_title_1" data-aos="slide-down">Бесплатные курсы</h1>
          <h1 class="header_title header_title_2" data-aos="slide-down">программирования</h1>
          <div class="banner" data-aos="slide-up" data-aos-duration="1000" data-aos-delay="500"> <img
              src="images/banner.png" alt="banner"> </div>
          <div class="grid_block" data-aos="slide-up" data-aos-duration="1000"> <a href="openjs.html"
              class="grid_item grid_item_1" data-aos="flip-left" data-aos-duration="2000" target="_blank"
              rel="noopener noreferrer">
              <div class="text">
                <h1>FullStack ‌разработчик‌ ‌на‌ JS</h1>
                <p>Дата уточняется</p>
              </div>
              <div class="grid_item_img grid_item_1_img">
                <div class="bg_item_img"></div>
              </div>
            </a> <a href="php.html" class="grid_item grid_item_2" data-aos="flip-left"
              data-aos-duration="2000" target="_blank" rel="noopener noreferrer">
              <div class="text">
                <h1>Backend разработчик на PHP</h1>
                <p>Дата уточняется</p>
              </div>
              <div class="grid_item_img grid_item_2_img">
                <div class="bg_item_img"></div>
              </div>
            </a> <a href="vacancy.html" class="grid_item grid_item_3" data-aos="flip-right"
              data-aos-duration="2000" target="_blank" rel="noopener noreferrer">
              <div class="text">
                <h1>Quality Assurance специалист</h1>
                <p>сентябрь — март 2021/2022</p>
                <p>7 месяцев</p>
              </div>
              <div class="grid_item_img grid_item_3_img">
                <div class="bg_item_img"></div>
              </div>
            </a> <a href="openjs.html/girls/" class="grid_item grid_item_4" data-aos="flip-right"
              data-aos-duration="2000" target="_blank" rel="noopener noreferrer">
              <div class="text">
                <h1>Основы‌ ‌программирования‌ ‌для‌ ‌девушек‌</h1>
                <p>июль — октябрь 2021</p>
                <p>4 месяца</p>
              </div>
              <div class="grid_item_img grid_item_4_img">
                <div class="bg_item_img"></div>
              </div>
            </a> <a href="https://job.alif.tj/vacancy/120/1" class="grid_item grid_item_5" data-aos="flip-left"
              data-aos-duration="2000" target="_blank" rel="noopener noreferrer">
              <div class="text">
                <h1>Backend ‌‌разработчик‌ ‌на‌ ‌С#</h1>
                <p>февраль — июнь 2022</p>
                <p>4 месяца</p>
              </div>
              <div class="grid_item_img grid_item_5_img">
                <div class="bg_item_img"></div>
              </div>
            </a> <a href="main.html/go" class="grid_item grid_item_6" data-aos="flip-right"
              data-aos-duration="2000" target="_blank">
              <div class="text">
                <h1>Backend ‌разработчик‌ ‌на‌ Go</h1>
                <p>сентябрь — январь 2021/2022</p>
                <p>5 месяцев</p>
              </div>
              <div class="grid_item_img grid_item_6_img">
                <div class="bg_item_img"></div>
              </div>
            </a> <a href="https://job.alif.tj/vacancy/150/1" class="grid_item grid_item_7" data-aos="flip-left"
              data-aos-duration="2000" target="_blank">
              <div class="text">
                <h1>Школа аналитики</h1>
                <p>ноябрь — декабрь 2021</p>
                <p>1 месяц</p>
              </div>
              <div class="grid_item_img grid_item_7_img">
                <div class="bg_item_img"></div>
              </div>
            </a>
            <div class="grid_item grid_item_8 template" data-aos="flip-right" data-aos-duration="2000" target="_blank">
              <div class="text">
                <h1>Готовится новый крутой курс</h1>
              </div>
              <div class="grid_item_img grid_item_8_img">
                <div class="bg_item_img"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="about">
    <div class="container-academy">
      <h1 class="header">Чем полезна Академия</h1>
      <div class="about-container about_item_1" data-aos="zoom-in">
        <div class="about__text">
          <h1>Сопровождение</h1>
          <p> Опытные преподаватели и наставники всегда поддержат и ответят на ваши вопросы в процессе обучения </p>
        </div>
        <div class="about__img"> <img src="images/man.png" alt="proger" class="proger"> </div>
      </div>
      <div class="about-container about_item_2" data-aos="zoom-in">
        <div class="about__img"> <img src="images/draw.png" alt="draw" class="draw"> </div>
        <div class="about__text">
          <h1>Практическая работа</h1>
          <p> Много практической работы и код-ревью от преподавателей в сфере IT </p>
        </div>
      </div>
      <div class="about-container about_item_3" data-aos="zoom-in">
        <div class="about__text">
          <h1>24/7 онлайн и оффлайн</h1>
          <p> На протяжении курса вы можете проводить неограниченное количество времени в академии и задавать свои
            вопросы в чате курса </p>
        </div>
        <div class="about__img"> <img src="images/offline.png" alt="person" class="person"> </div>
      </div>
      <div class="about-container about_item_4" data-aos="zoom-in">
        <div class="about__img"> <img src="images/artboard.png" alt="hand.png" class="hand.png"> </div>
        <div class="about__text">
          <h1>Стажировка в крупных компаниях страны</h1>
          <p> Выпускникам курсов предоставляется возможность пройти стажировку в Алиф и других организациях-партнёрах
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="banner_course" data-aos="slide-up">
    <div class="container-academy banner_course_main">
      <div class="banner_course_text">
        <h1 class="course_text_title course_text_title_1">3000 программистов</h1>
        <h1 class="course_text_title course_text_title_2">за 3 года</h1> <a href="./help-academy.html" class="more"
          target="_blank" rel="noopener noreferrer">Помочь академии</a>
      </div>
    </div>
  </section>
  <section class="courses">
    <div class="container-academy">
      <h1>Наши бесплатные курсы</h1>
      <div class="courses_container"> <a class="courses_item courses_item_1" data-aos="zoom-in" href="openjs.html"
          target="_blank" rel="noopener noreferrer">
          <div class="courses_item_image"></div>
          <div class="courses_item_course">
            <p>Курс</p>
            <h3>FullStack ‌разработчик‌ ‌на‌ JS</h3>
          </div>
          <div class="courses_item_duration">
            <p>Продолжительность</p>
            <h3>3 мес — дата уточняется</h3>
          </div>
          <div class="courses_item_format">
            <p>Формат</p>
            <h3>Онлайн</h3>
          </div>
          <div class="mobile_courses_item">
            <div class="mobile_courses_item_text">
              <h3>FullStack ‌разработчик‌ ‌на‌ JS</h3>
              <p>дата уточняется</p>
            </div>
            <div class="mobile_courses_item_image"></div>
          </div>
        </a> <a class="courses_item courses_item_6" data-aos="zoom-in" href="php.html"
          target="_blank" rel="noopener noreferrer">
          <div class="courses_item_image"></div>
          <div class="courses_item_course">
            <p>Курс</p>
            <h3>Backend разработчик на PHP</h3>
          </div>
          <div class="courses_item_duration">
            <p>Продолжительность</p>
            <h3>4 мес - дата уточняется</h3>
          </div>
          <div class="courses_item_format">
            <p>Формат</p>
            <h3>Оффлайн</h3>
          </div>
          <div class="mobile_courses_item">
            <div class="mobile_courses_item_text">
              <h3>Backend разработчик на PHP</h3>
              <p>дата уточняется</p>
            </div>
            <div class="mobile_courses_item_image"></div>
          </div>
        </a> <a class="courses_item courses_item_4" data-aos="zoom-in" href="https://job.alif.tj/vacancy/117/1"
          target="_blank" rel="noopener noreferrer">
          <div class="courses_item_image"></div>
          <div class="courses_item_course">
            <p>Курс</p>
            <h3>Quality Assurance специалист</h3>
          </div>
          <div class="courses_item_duration">
            <p>Продолжительность</p>
            <h3>7 мес - сентябрь/март 2021/2022</h3>
          </div>
          <div class="courses_item_format">
            <p>Формат</p>
            <h3>Оффлайн</h3>
          </div>
          <div class="mobile_courses_item">
            <div class="mobile_courses_item_text">
              <h3>Quality Assurance специалист</h3>
              <p>сентябрь — март 2021/2022</p>
              <p>7 месяцев</p>
            </div>
            <div class="mobile_courses_item_image"></div>
          </div>
        </a> <a class="courses_item courses_item_2" data-aos="zoom-in" href="openjs.html/girls/" target="_blank"
          rel="noopener noreferrer">
          <div class="courses_item_image"></div>
          <div class="courses_item_course">
            <p>Курс</p>
            <h3>Основы‌ ‌программирования ‌для‌ ‌девушек</h3>
          </div>
          <div class="courses_item_duration">
            <p>Продолжительность</p>
            <h3>4 мес — июль/октябрь 2021</h3>
          </div>
          <div class="courses_item_format">
            <p>Формат</p>
            <h3>Онлайн</h3>
          </div>
          <div class="mobile_courses_item">
            <div class="mobile_courses_item_text">
              <h3>Основы‌ ‌программирования‌ ‌для‌ ‌девушек‌</h3>
              <p>июль-октябрь 2021</p>
              <p>4 месяца</p>
            </div>
            <div class="mobile_courses_item_image"></div>
          </div>
        </a> <a class="courses_item courses_item_3" data-aos="zoom-in" href="https://job.alif.tj/vacancy/120/1"
          target="_blank" rel="noopener noreferrer">
          <div class="courses_item_image"></div>
          <div class="courses_item_course">
            <p>Курс</p>
            <h3>Backend ‌разработчик‌ ‌на‌ ‌С#</h3>
          </div>
          <div class="courses_item_duration">
            <p>Продолжительность</p>
            <h3>4 мес - февраль/июнь 2022</h3>
          </div>
          <div class="courses_item_format">
            <p>Формат</p>
            <h3>Оффлайн</h3>
          </div>
          <div class="mobile_courses_item">
            <div class="mobile_courses_item_text">
              <h3>Backend ‌разработчик‌ ‌на‌ ‌С#‌‌</h3>
              <p>февраль — июнь 2022</p>
              <p>4 месяца</p>
            </div>
            <div class="mobile_courses_item_image"></div>
          </div>
        </a> <a class="courses_item courses_item_5" data-aos="zoom-in" href="main.html/go" target="_blank"
          rel="noopener noreferrer">
          <div class="courses_item_image"></div>
          <div class="courses_item_course">
            <p>Курс</p>
            <h3>Backend ‌разработчик‌ ‌на‌ Go</h3>
          </div>
          <div class="courses_item_duration">
            <p>Продолжительность</p>
            <h3>5 мес - сентябрь/январь 2021/2022</h3>
          </div>
          <div class="courses_item_format">
            <p>Формат</p>
            <h3>Онлайн</h3>
          </div>
          <div class="mobile_courses_item">
            <div class="mobile_courses_item_text">
              <h3>Backend ‌‌разработчик‌ ‌на‌ Go</h3>
              <p>сентябрь — январь 2021/2022</p>
              <p>5 месяцев</p>
            </div>
            <div class="mobile_courses_item_image"></div>
          </div>
        </a> <a class="courses_item courses_item_7" data-aos="zoom-in" href="https://job.alif.tj/vacancy/150/1"
          target="_blank" rel="noopener noreferrer">
          <div class="courses_item_image"></div>
          <div class="courses_item_course">
            <p>Курс</p>
            <h3>Школа аналитики</h3>
          </div>
          <div class="courses_item_duration">
            <p>Продолжительность</p>
            <h3>1 мес - ноябрь/декабрь 2021</h3>
          </div>
          <div class="courses_item_format">
            <p>Формат</p>
            <h3>Оффлайн</h3>
          </div>
          <div class="mobile_courses_item">
            <div class="mobile_courses_item_text">
              <h3>Школа аналитики</h3>
              <p>ноябрь — декабрь 2021</p>
              <p>1 месяц</p>
            </div>
            <div class="mobile_courses_item_image"></div>
          </div>
        </a> </div>
    </div>
  </section>
  <section class="review">
    <div class="container-academy right_fill">
      <h1>Отзывы от выпускников</h1>
      <div class="review_slider">
        <div class="slider_review_item">
          <div class="review_item_img"> <img src="images/akbar.png" alt="akbar photo"> </div>
          <div class="review_item_text">
            <h1>Акбар Ахраров</h1>
            <p class="review_item_academy">Выпускник Coding Academy: Frontend, 2020 года</p>
            <p class="review_item_job">Frontend разработчик в Алифе, Душанбе</p>
            <p class="review_item_comment"> В начале пути я не имел никаких знаний по разработке. Сейчас, после
              окончания обучения, у меня появились навыки для того, чтобы самостоятельно заниматься разработкой и
              работать в коллективе </p>
          </div>
        </div>
        <div class="slider_review_item">
          <div class="review_item_img"> <img src="images/shohin.png" alt="shohin photo"> </div>
          <div class="review_item_text">
            <h1 class="review_item_title">Шохин Таваров</h1>
            <p class="review_item_academy">Выпускник Coding Academy: Frontend, 2020 года</p>
            <p class="review_item_job">Frontend разработчик в Алифе, Душанбе</p>
            <p class="review_item_comment"> Хорошо продуманная программа курсов и постоянная помощь преподавателей
              помогает быстро перейти от теории к практике. Благодаря чему легко усваивается весь материал и сразу видны
              результаты </p>
          </div>
        </div>
        <div class="slider_review_item">
          <div class="review_item_img"> <img src="images/parviz.png" alt="parviz photo"> </div>
          <div class="review_item_text">
            <h1 class="review_item_title">Парвиз Боймуродов</h1>
            <p class="review_item_academy">Выпускник Coding Academy: Golang 2020</p>
            <p class="review_item_job">Backend разработчик в Алифе, Душанбе</p>
            <p class="review_item_comment"> Курсы Алиф Академии помогли мне развиться в профессиональной сфере, найти
              хорошую работу и друзей. </p>
          </div>
        </div>
        <div class="slider_review_item">
          <div class="review_item_img"> <img src="images/alisher.png" alt="alisher photo"> </div>
          <div class="review_item_text">
            <h1 class="review_item_title">Алишер Фозилов</h1>
            <p class="review_item_academy">Выпускник Coding Academy: Golang 2020</p>
            <p class="review_item_job">Backend разработчик в Алифе, Душанбе</p>
            <p class="review_item_comment"> Новая работа, возможности, друзья, хобби — Алиф Академия кардинально
              изменила мою жизнь. После успешного окончания я овладел новой профессией и самое главное, хочу ли я
              заниматься IT дальше? Мой ответ, без сомнений — «Да» </p>
          </div>
        </div>
        <div class="slider_review_item">
          <div class="review_item_img"> <img src="images/siyovush.png" alt="siyovush photo"> </div>
          <div class="review_item_text">
            <h1 class="review_item_title">Сиёвуш Шорахимзода</h1>
            <p class="review_item_academy">Выпускник Coding Academy: PHP 2020 года</p>
            <p class="review_item_job">Backend разработчик в Алифе, Душанбе</p>
            <p class="review_item_comment"> Я прошёл курсы программирования на языке PHP и Golang. Опыт и знания,
              которые получил, придали большой скачок в моей жизни. Теперь я занимаюсь любимым делом в классной команде
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--<section class="events"> <h1 class="events_title" data-aos="fade-up">Ближайшие мероприятия</h1> <div class="container-academy" data-aos="fade-left"> <div class="events-container"> <div class="events_item event_img"></div> <div class="events_item event_text"> <div class="event_text_main"> <h1>IT-ГАП</h1> <p class="date_text">Дата</p> <h1 class="date">27 мая 2021 года</h1> <p class="spiker">Спикеры</p> <ul class="spiker_list"> <li>Бахтиёр Курбонов</li> <li>Азиза Джурабаева</li> <li>Фаррух Гулбоев</li> <li>Тот самый из Бронкса</li> </ul> </div> <a href="#" class="event_text_btn"> Регистрация </a> </div> </div> </div> </section>-->

  <section class="utility">
    <div class="utility__container" id="materials">
      <h1 data-aos="fade-down">Материалы</h1>
      <div class="utility__row" data-aos="fade-right">
        <div class="utility-content">
          <div class="utility__item-text">
            <div class="head">
              <h3> Исследование: Каких программистов ищут работодатели в IT-секторе Таджикистана </h3>
            </div>
            <div class="date">
              <div> ДАТА </div> <span> 31.05.2021 </span>
            </div>
            <div class="main"> <span class="main__item-1"> Мы изучили потребности компаний в Таджикистане и выявили
                наиболее востребованные направления разработки. </span> <span class="main__item-2"> Из интересного: 3
                самых популярных языка программирования — это PHP, JavaScript и Java, а работодателям не важен диплом
                кандидатов. <br /> </span> <span class="main__item-3"> <a
                  href="main.html/files/Acasemy-Assessment-edit.pdf" target="_blank"
                  class="assessment">Подробнее читайте в нашем исследовании.</a> </span> </div>
          </div>
          <div class="utility__item-img">
            <div class="head">
              <h2>Кодеры, ау, вы где?</h2>
            </div>
            <div class="main"> <img src="images/utility-mini.png" alt="utility"> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer black">
    <div class="container-academy">
      <div class="information_container">
        <div class="information_address">
          <h1 class="tel"> <a href="tel:+488885464">48 888 54 64</a> </h1>
          <p class="phone_text default_text">Телефон справочной службы</p>
          <p class="phone_text telegram_text">Отвечаем и помогаем в Телеграме</p>
          <h1 class="telegram"> <a href="https://t.me/AlifAcademyBot">@AlifAcademyBot</a> </h1>
          <p class="address_text"> Душанбе, ТЦ Баракат, пр. И. Сомони, 2/3 <br> Худжанд, ул. Фирдавси, 117 </p>
        </div>
        <div class="information_social">
          <p>Соцмедиа</p>
          <div class="social_footer"> <a href="https://www.facebook.com/academy.alif.tj" target="_blank"
              rel="noopener noreferrer"> <img src="images/facebook.svg" alt="facebook"> </a> <a
              href="https://www.instagram.com/alif.academy" target="_blank" rel="noopener noreferrer"> <img
                src="images/instagram.svg" alt="instagram"> </a> <a
              href="https://www.youtube.com/channel/UC6S23i8RvLVql4m9D3DVnEQ" target="_blank" rel="noopener noreferrer">
              <img src="images/youtube.svg" alt="youtube"> </a> <a class="telegram_bot"
              href="https://t.me/AlifAcademyBot" target="_blank" rel="noopener noreferrer"> <img
                src="images/telegra.svg" alt="telegram"> </a> <a class="telegram_channel"
              href="https://t.me/academyalif" target="_blank" rel="noopener noreferrer"> <img src="images/telegra.svg"
                alt="telegram"> </a> <a href="https://www.linkedin.com/company/alif-academy" target="_blank"
              rel="noopener noreferrer"> <img src="images/linkedi.svg" alt="linkedin"> </a> </div>
        </div>
      </div>
      <div class="copyright">
        <p class="company">© 2021 ОО «Алиф»</p> <a class="financial"> <img src="images/general.svg" alt="file">
          <span>Финансовая отчётность</span> </a>
        <p class="certificate"> Свидетельство №1877 «А» от 28 ноября 2020 года </p>
      </div>
    </div>
  </footer>
  <script src="js/script.js"></script>
</body>

</html>